<section class="content">
  <form id="profileForm" class="form-div">
    <fieldset>
      <input type="hidden" id="userId" value="{{user_id}}">
      <label class="form-label" for="username">User Name</label>
      <p id="profile_username" class="displayed-text">{{username}}</p>
      <input class="hidden" type="text" id="username" name="username" required>
      <label class="form-label" for="contact">Contact</label>
      <p id="profile_email" class="displayed-text">{{user_email}}</p>
      <input class="hidden" type="text" name="email" id="email">
      <label class="form-label" for="queue_item_count"># Items in Queue</label>
      <p id="profile_item_count">42</p>
      <label class="form-label" for="last_active">Date Last Active</label>
      <p id="profile_last_active_date">10/10/2019</p>
      <label class="form-label" for="top_priorities">Priority Items</label>
      {{priorities.length}}
      <ul class="priority_items">
        {{#each priorities}}
        <li id={{@index}} class="priority-list-item">
          <a href="{{title}}">{{title}}</a>
        </li>
        {{/each}}
      </ul>
       <div class="button-set">
        <button id="editBtn" type="submit" class="submit-btn" name="edit_profile">Edit Profile</button>
        <button id="saveBtn" type="submit" class="submit-btn hidden" name="save_profile">Save Profile</button>
        <button id="cancelBtn" type="submit" class="cancel-btn" name="cancel">Cancel</button>
      </div>
    </fieldset>
  </form>
</section>

<script src="js/profile.js"></script>